@import "null.css";
@import "header.css";
@import "main.css";
@import "footer.css";
html,
body {
	height: 100%;
	line-height: 1;
	font-family: Roboto;
}
/* организация header, main, footer на странице */
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 1 auto; /* чтобы main увеличивался и прижал footer книзу  */
}

[class*="__container"] {
	max-width: 1087px;
	margin: 0 auto;
	/* отступы безопасности */
	padding: 0 15px;
}

